@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: crimson;

}
.head{
    background-color: aliceblue;
    padding: 5px 50px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;

    h2{
        margin: 0;
        font-size: 24px;

        span{
            color: crimson;
        }
    }

    .navigate{
        display: flex;
        align-items: center;
        justify-content: center;
        
        a{
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            margin-left: 50px;
            color: olivedrab;

            &:hover{
                text-decoration: underline;
            }

            &.active{
                text-decoration: underline;
                color: firebrick;
            }
        }
    }
    .reg{
        font-size: 14px;
        letter-spacing: 2px;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 2px solid crimson;
        border-top: 2px solid olivedrab;
        padding: 10px;
        border-radius: 25px;
        color: crimson;
        &:hover{
            background: linear-gradient(olivedrab,crimson);
            color: aliceblue;
        }
    }
}

.cnt{
    margin: 20px;
    h2{
        text-align: center;
        font-size: 60px;
        color: aliceblue;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .detail{
            flex: 1;
            justify-content: center;
            align-items: center;
            h3{
                font-size: 40px;
                margin: 0;
                color: azure;
            }
            p{
                font-size: 20px;
            }
        }
        .info{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 5px;

            h3{
                font-size: 38px;
                margin: 0;
                color: azure;
            }
            
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 5px;

                input{
                    font-size: 16px;
                    padding: 15px;
                    border-radius: 10px;
                    border: none;
                    color: olivedrab;
                    border-bottom: 5px solid;
                }
                textarea{
                    padding: 15px;
                    border-radius: 10px;
                    border: none;
                    color: olivedrab;
                    border-bottom: 5px solid;
                }
                button{
                    padding: 15px;
                    width: 100px;
                    border-radius: 10px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 600;
                    letter-spacing: 2px;
                    border: none;
                    color: crimson;
                    border: 1px solid gray;
                    &:hover{
                        cursor: pointer;
                        border: none;
                        border-left: 5px solid gray;
                        border-right: 5px solid gray;
                    }
                    &:active{
                        border: none;
                        border-top: 5px solid gray;
                        border-bottom: 5px solid gray;
                    }
                }
            }

        }
    }
}

.app{
    background-image: url("../images/h102.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .app-container{
        width: 350px;
        display: flex;
        flex-direction: column;
        h2{
            margin: 0;
            font-size: 30px;
            color: aliceblue;
            padding-bottom: 8px;
        }
        button{
            height: 45px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 10px;
            border: none;

            &:hover{
                cursor: pointer;
                background-color: azure;
            }
        }
    }
}

footer{
    text-align: center;
    margin-top: 5px;
}